# Ignore docs directory
docs/

dataset/
# Ignore everything in figures directory
figures/**/*
figure/**/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook cache
.ipynb_checkpoints/

# Other common cache files
.cache/
.sass-cache/

# ===== LaTeX build files =====
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# ===== Bibliography =====
*.bcf
*.run.xml

# ===== Temporary files =====
*.nav
*.snm
*.vrb

# ===== Editor files =====
.vscode/
*.code-workspace

# ===== OS files =====
.DS_Store
Thumbs.db
