# Ignore docs directory
docs/

dataset/
# Ignore everything in figures directory
figures/**/*
figure/**/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook cache
.ipynb_checkpoints/

# Other common cache files
.cache/
.sass-cache/
